<div class='profile-form panel'>
  <%= form_for @profile do |f| %>
    <div>
      <%= f.label :skill, "Skills (separate by commas, limit of 3)" %>
      <%= f.text_field :skill %>
    </div>

    <div>
      <%= f.label :techinterests, "Technical Interest" %>
      <%= f.text_field :techinterests %>
    </div>

    <div>
      <%= f.label :job, 'Job Title (if you are looking for a job put "Looking for Work)"' %>
      <%= f.text_field :job %>
    </div>

    <div>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>

    <div>
      <%= f.label :example_url1 %>
      <%= f.url_field :example_url1 %>
    </div>

    <div>
      <%= f.label :example_url1_img %>
      <%= f.url_field :example_url1_img %>
    </div>

    <div>
      <%= f.label :example_url2 %>
      <%= f.url_field :example_url2 %>
    </div>

    <div>
      <%= f.label :example_url2_img %>
      <%= f.url_field :example_url2_img %>
    </div>

    <div>
      <%= f.label :website %>
      <%= f.url_field :website %>
    </div>

    <% if current_user.email == "" %>
     <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <% end %>
    <div class="profile-field-about">
      <%= f.label :about %>
      <%= f.text_field :about %>
    </div>

    <%= f.submit 'Create Profile', class:"button radius" %>
  <% end %>
</div>
