<li id="<%= user.id %>">
    <div class="large-6 columns left-tinder-box">
      <%= image_tag user.avatar_url%>
      <div class="u-name pull-left">
        <%= link_to user_path(user) do %><b><%= user.name %></b>, <%= user.email %></a><% end %>
      </div>
    </div>
    <div class="u-location text-right"><i class="fa fa-map-marker"></i> </div>
    <div class="like">
      <%= link_to "", user_friendships_path(friend_id: user, user_id: request.path), id: "like#{user.id}", method: :post, :remote => true%>
    </div>
    <div class="dislike">
      <%= link_to "", rejects_path(reject_id: user, user_id: request.path), id: "dislike#{user.id}", method: :post, :remote => true%>
    </div>
</li>
