<div class='profile-form panel'>
<h1>Your Profile<h1>
  <%= form_for @user do |f| %>

    <%= f.label :skill, "Highlighted Skill" %>
    <%= f.select :skill,
      Skill.all.map { |s| [s.name, s.id] },
                   { include_blank: false },
                   { class: 'chosen-select' }
    %>
    <div>
      <%= f.label :techinterests, "Technical Interest" %>
      <%= f.text_area :techinterests %>
    </div>

    <div>
      <%= f.label :job, 'Job Title (if you are looking for a job put "Looking for Work)"' %>
      <%= f.text_area :job %>
    </div>

    <div>
      <%= f.label :location %>
      <%= f.text_area :location %>
    </div>

    <div>
      <%= f.label :example_url1 %>
      <%= f.url_field :example_url1 %>
    </div>

    <div>
      <%= f.label :example_url1_img %>
      <%= f.url_field :example_url1_img %>
    </div>

    <div>
      <%= f.label :example_url2 %>
      <%= f.url_field :example_url2 %>
    </div>

    <div>
      <%= f.label :example_url2_img %>
      <%= f.url_field :example_url2_img %>
    </div>

    <div>
      <%= f.label :website %>
      <%= f.url_field :website %>
    </div>

    <% if @user.email == "" || @user.email.nil? %>
     <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <% end %>
    <div class="profile-field-about">
      <%= f.label :about %>
      <%= f.text_area :about %>
    </div>

    <%= f.submit 'Update Profile', class:"button radius" %>
  <% end %>
</div>
