<div class="add-project">
  <% if current_user.projects %>
    <% @projects.each do |project| %>
        <div class="large-6 columns panel">
          <%= link_to project.name, project_path(project) %>
          <%= project.description %>

          <% if current_user.projects.include?(project) %>
           <%= link_to "Edit Project", edit_project_path(project) %>
          <% end %>
        </div>
      <% end %>
  <% else %>
    <%= link_to "Create Project", new_project_path %>
  <% end %>
</div>
<div class="show users">
    <% @user_search.each do |user| %>

    <% unless user == current_user %>
      <ol>
      <h1><%= link_to user.name, user_path(user) %></h1>
          <%= image_tag(user.avatar_url) %>

      </ol>
      <% end %>

  <% end %>
</div>
