<div class="large-12 columns user-portfolio-name">
  <h1><%= @user.name %></h1>
  <hr>
</div>

<div class="large-6 columns profile-pic">
  <%= image_tag(@user.avatar_url) %>
</div>

<div class="large-6 columns panel">

 <h1>Experience Chart</h1>
    <%= pie_chart @user.top_languages  %>
</div>

<div class="large-6 columns">

<% unless current_user == @user %>
    <%= link_to image_tag("add-friend.png", size:"35"), user_friendships_path(friend_id: params[:id], user_id: params[:id]), method: :post %>
    <strong><%=h @user.name %></strong>
    <div class="clear"></div>
  <% end%>
  </p>


  <h2>Friends</h2>
  <ul>
    <% @user.friendships.each do |friendship| %>
      <li>
        <%= friendship.friend.name %>
        <%= button_to "remove", user_friendship_path(id: friendship, user_id: current_user ), method: :delete, class:"button tiny radius" %>
      </li>
    <% end %>
  </ul>

  <h2>Friended by Users</h2>
  <ul>
    <%  @user.inverse_friends.each do |user| %>
      <ol><%=h user.name %></ol>
    <% end %>
  </ul>

  </div>
  <div class="large-6 columns">
  <h1>Examples</h1>

  <% if @user.example_url2 != "" && @user.example_url2_img != "" %>
  <a href="#" data-reveal-id="firstModal" class="radius button">Website Example</a><br>
  <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h4>Click image to visit website</h4>
    <%= link_to image_tag(@user.example_url2_img+".png"), @user.example_url2 %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <% end %>

  <% if @user.example_url2 != "" && @user.example_url2_img != "" %>
  <a href="#" data-reveal-id="secondModal" class="radius button">Website Example</a>
  <div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h4>Click image to visit website</h4>
    <%= link_to image_tag(@user.example_url1_img+".png"), @user.example_url1 %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <% end %>
</div>


