<div class="large-12 columns show-container">
  <div class="user-portfolio-name">
    <h1><%= @user.name %><span class="spacer"></span><%= link_to image_tag("add-friend.png", size:"35"), user_friendships_path(friend_id: params[:id], user_id: request.path), method: :post unless current_user == @user %></h1>
    <p><%= @user.job if @user.job %><span class="spacer"></span><%= @user.location if @user.location %></p>
    <div class="name-color"></div>
  </div>

  <div class="large-5 columns profile-pic">
    <%= image_tag(@user.avatar_url) %>
  </div>

  <div class="large-1 columns exp-chart">
    <h1>Experience</h1>
  </div>

  <div class="large-6 columns exp-chart">
    <%= pie_chart @user.top_languages  %>
  </div>

  <div class="large-12 columns about panel">
    <div class="large-6 columns">
      <h3>About</h3>
      <hr>
      <% if @user.about %>
      <%= @user.about %>
      <% else %>
      <p>-</p>
      <% end %>
    </div>
    <div class="large-6 columns">
      <h3>Technical Interests</h3>
      <hr>
      <% if @user.techinterests %>
      <p><%= @user.techinterests %></p>
      <% else %>
      <p>-</p>
      <% end %>

      <h3>Website Examples</h3>
    </hr>
    <% if @user.example_url2 != nil && @user.example_url2_img != nil %>
    <a href="#" data-reveal-id="firstModal" class="radius button">Website Example</a><br>
    <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h4>Click image to visit website</h4>
      <%= link_to image_tag(@user.example_url2_img+".png"), @user.example_url2 %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <% end %>

    <% if @user.example_url2 != nil && @user.example_url2_img != nil  %>
    <a href="#" data-reveal-id="secondModal" class="radius button">Website Example</a>
    <div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h4>Click image to visit website</h4>
      <%= link_to image_tag(@user.example_url1_img+".png"), @user.example_url1 %>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <% end %>
  </div>
</div>

<div class="large-12 columns">

<div class="large-6 columns">
  <h2>Friends</h2>
  <% @user.mutual_friends.each do |friendship| %>
  <%= link_to image_tag(friendship.avatar_url, size: "40"), user_path(friendship)  %>
  <!-- <%= button_to "remove", user_friendship_path(id: friendship, user_id: current_user ), method: :delete, class:"button tiny radius" %> -->
  <%= link_to "Send Message", "#", class: "button start-conversation",
                    "data-sid" => current_user.id, "data-rip" => friendship.id %>
  <% end -%>
</div>
<div class="large-6 columns">
  <ul>
    <h2>Friend Requests</h2>
    <% @user.inverse_friends.each do |user| %>
    <% unless @user.mutual_friends.include?(user) %>
    <ol><%= link_to user.name, user_friendships_path(friend_id: user, user_id: params[:id]), method: :post %></ol>
    <% end %>
    <% end %>
</ul>
</div>


</div>
<div class="large-12 columns">
  <% if current_user == @user %>
  <h2>Rejected users</h2>
  <% @user.rejects.each do |reject| %>
  <%= link_to image_tag(User.find(reject.reject_id).avatar_url, size: "40"), user_path(reject.reject_id)  %>
  <% end -%>
  <% end %>
</div>
</div>
<hr>
