<%= form_for @project do |f| %>
    <div>
      <%= f.label :skills_needed, "Skills Needed (separate by spaces, limit of 3)" %>
      <%= f.text_field :skills_needed, placeholder: current_user.top_languages.keys %>
    </div>

    <div>
      <%= f.label :name, "Project Idea" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :description, 'Describe your Project idea here.' %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit 'Edit Idea', class:"button radius" %>
  <% end %>
