<li id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Welcome to Buildur.</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4><u>Buildur was created for developers, exclusively.</u></h4>
        <p class="left">Build a profile, match up with other buildurs based on your preferences then build out your ideas together. It leverages GitHub's API to provide developers with a dead simple access point that also provides a ton of dynamic information to populate their profile.</p>
    </div>
    <div class="large-6 columns u-about">
      <%= image_tag 'sign_in.gif', size:"500" %>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>

<li id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Welcome to Buildur.</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4><u>Buildur was created for developers, exclusively.</u></h4>
        <p class="left">Build a profile, match up with other buildurs based on your preferences then build out your ideas together. It leverages GitHub's API to provide developers with a dead simple access point that also provides a ton of dynamic information to populate their profile.</p>
    </div>
    <div class="large-6 columns u-about">
      <%= image_tag 'sign_in.gif', size:"500" %>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>

<li id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Welcome to Buildur.</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4><u>Buildur was created for developers, exclusively.</u></h4>
        <p class="left">Build a profile, match up with other buildurs based on your preferences then build out your ideas together. It leverages GitHub's API to provide developers with a dead simple access point that also provides a ton of dynamic information to populate their profile.</p>
    </div>
    <div class="large-6 columns u-about">
      <%= image_tag 'sign_in.gif', size:"500" %>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>
