<ol id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Get in Touch</h1></div>
    <div class="large-12 columns">
      <div class="large-6 columns pull-left get-in-touch">
          <h4><u>I'm friendly, I swear.</u></h4>
          <div class="clear"></div>
            <a href="https://github.com/timchepeleff">
            <i class="fa fa-github"></i></a>

            <a href="https://twitter.com/timchep">
            <i class="fa fa-twitter"></i></a>

            <a href="https://linkedin.com/in/timchepeleff">
            <i class="fa fa-linkedin"></i></a>
      </div>
      <div class="large-6 columns u-about">
        <%= image_tag 'tim_chepeleff.jpg', size: "350", style: "margin-left: 75px" %>
      </div>
    </div>
</ol>

<li id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Found a match? Start a conversation.</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4><u>Collaboration is Key.</u></h4>
        <p class="left">If they decide to merge you in (accept your pull request) you’ll both be able to start a conversation using the built in chat feature. The whole point is to introduce you to other developers and build relationships based off of similar interests.</p>
    </div>
    <div class="large-6 columns u-about">
      <%= image_tag 'chat.gif', size:"500" %>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>

<li id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Find Matches</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4><u>Send a Pull Request</u></h4>
        <p class="left">When you click on “Discover”, my algorithm calculates (based off of your preferences) the most likely matches and displays them on your screen; it’s simple, quick and fun. If you like what you see, send a pull request to add them as a friend.</p>
    </div>
    <div class="large-6 columns u-about">
      <%= image_tag 'swipe.gif', size:"500" %>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>

<li id="1">
    <%= image_tag 'buildur-index.png', size:"500", id: "index-image" %>
    <div class="large-12 columns"><h1>Here's how it works.</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4><u>Sign In</u></h4>
        <p class="left">After signing in with GitHub, you’ll start by filling out your profile.<br><br> Finished and ready to find some kick-ass developers to collaborate with?<h3>Good.</h3></p>
    </div>
    <div class="large-6 columns u-about">
      <%= image_tag 'sign_in.gif', size:"500" %>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>

<li id="1">
    <div class="large-12 columns"><h1>Welcome to Buildur.</h1></div>
    <div class="large-12 columns">
    <div class="large-6 columns pull-left">
        <h4 style="padding-top: 20px"><u>Built for Developers</u></h4>
        <p>Buildur was created for developers, exclusively. Build a profile, match up with other buildurs based on your preferences then build out your ideas together. It leverages GitHub's API to provide developers with a dead simple access point that also provides a ton of dynamic information to populate their profile.</p>
    </div>
     <div class="large-6 columns u-about">
      <%= image_tag 'buildur-index.png', size:"450", style: "margin: 0 0 30px 0;" %>
      <h4 style="color: rgb(131, 213, 102); font-size: 24px;">Submit a Pull Request to continue.</h4>
    </div>
    </div>
    <div class="like">
    </div>
  <div class="dislike">
    </div>
</li>


