<nav class="main-menu">
  <ul>
    <li>
      <%= link_to image_tag("buildur-logo.png", size:"300"), root_path, id:"logo" %>
    </li>
  </ul>

  <ul class="logout ">
    <li class="has-subnav nav-profile-image">
      <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.avatar_url %>
        <span class="nav-text">
          Your Profile
        </span>
      <% end %>
    </li>
    <li class="has-subnav">
      <%= link_to users_path do %>
        <i class="fa fa-code"></i>
        <span class="nav-text">
          Build Your Team
        </span>
      <% end %>
    </li>

    <li class="has-subnav edit-user-nav">
      <%= link_to edit_user_path(current_user) do %>
        <i class="fa fa-cog fa-2x"></i>
        <span class="nav-text">
          Edit Profile
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Log Out
        </span>
      <% end -%>
    </li>
  </ul>
</nav>
