<!DOCTYPE html>
<html>
  <head>
    <title>Tim's Breakable Toy</title>
    <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% flash.each do |name, msg| %>
    <% if msg[0].is_a?(String) %>
      <div data-alert class="alert-box round <%= name.to_s == "notice" ? "success" : "alert" %>">
        <%= content_tag :div, msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <% end %>
    <% if current_user %>


    <nav class="main-menu">
            <ul>
                <li>
                  <%= link_to image_tag("buildur-logo.png", size:"300"), root_path, id:"logo" %>
                </li>
            </ul>

            <ul class="logout ">
                <li class="has-subnav nav-profile-image">
                  <%= link_to user_path(current_user) do %>
                    <%= image_tag current_user.avatar_url %>
                      <span class="nav-text">
                          <%= current_user.name %>
                      </span>
                  <% end %>
                </li>
                 <li class="has-subnav">
                  <%= link_to users_path do %>
                    <i class="fa fa-code"></i>
                      <span class="nav-text">
                          Build Your Team
                      </span>
                  <% end %>
                </li>

                <li class="has-subnav edit-user-nav">
                  <%= link_to edit_user_path(current_user) do %>
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                   <span class="nav-text">
                            Edit Profile
                    </span>
                    <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-power-off fa-2x"></i>
                      <span class="nav-text">
                            Logout
                        </span>
                  <% end -%>
                </li>
            </ul>
        </nav>

        <div class="row">
          <div class="11-large large-offset-1 columns site-container">
           <nav class="top-bar" data-topbar>
              <ul class="title-area">
              </ul>
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <% if current_user %>
                  <ul class="right search">
                    <li>
                      <%= form_tag(users_path, method:"get") do %>
                      <%= text_field_tag(:query, nil, placeholder: "Search...", id: "search")%>
                      <%= submit_tag("Search", :id => "search_submit") %>
                      <% end %>
                    </li>
                  </ul>
                <%end%>
              </section>
            </nav>
            <%= yield %>
          </div>
      </div>
    <%else %>
      <div class="login-wrapper">
        <div class="container">
          <div class="logo_holder">
            <%= yield %>
          </div>
        </div>
      </div>
    <%end%>

<script type="text/javascript">

  $(".spinner").hide();

  $("#tinderslide").jTinder({

        onDislike: function (item) {
            var myId = $("#tinderslide > ul li").last().attr("id");
            $("#dislike" + myId)[0].click();
        },
        onLike: function (item) {
            var myId = $("#tinderslide > ul li").last().attr("id");
            $("#like" + myId)[0].click();
        },

        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: ".like",
        dislikeSelector: ".dislike"
  });

  $(".actions .like, .actions .dislike").click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr("class"));
  });


</script>
  </body>
</html>


