<!DOCTYPE html>
<html>
  <head>
    <title>Tim's Breakable Toy</title>
    <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% flash.each do |name, msg| %>
    <% if msg[0].is_a?(String) %>
      <div data-alert class="alert-box round <%= name.to_s == "notice" ? "success" : "alert" %>">
        <%= content_tag :div, msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <% end %>
    <% if current_user %>
        <%= render 'layouts/nav' %>
        <div class="row">
          <div class="12-large columns site-container">
              <%= render 'layouts/search' %>
            <%= yield %>
          </div>
      </div>
    <%else %>
      <div class="login-wrapper">
        <div class="container">
          <div class="logo_holder">
            <%= yield %>
          </div>
        </div>
      </div>
    <%end%>


<script type="text/javascript">

  $(".spinner").hide();

  $("#tinderslide").jTinder({

        onDislike: function (item) {
            var myId = $("#tinderslide > ul li").last().attr("id");
            $("#dislike" + myId)[0].click();
        },
        onLike: function (item) {
            var myId = $("#tinderslide > ul li").last().attr("id");
            $("#like" + myId)[0].click();
        },

        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: ".like",
        dislikeSelector: ".dislike"
  });

  $(".actions .like, .actions .dislike").click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr("class"));
  });


</script>
  </body>
    <% if current_user %>
      <script type="text/javascript">
          channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>
          PrivatePub.subscribe(channel, function(data) {
          var sender_id = data.sid;
          var recipient_id = data.rip;
          var conversation_id = data.cid;
          $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
              chatBox.chatWith(conversation_id);
          });
          });
      </script>
      <%= subscribe_to "/notifications" + current_user.id.to_s %>
    <% end %>
</html>


