<!DOCTYPE html>
<html>
  <head>
    <title>Tim's Breakable Toy</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if current_user %>

      <div class="row site-container">
        <div class="12-large columns">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name">
                <%= link_to image_tag('buildur-logo.png', size:"300"), root_path %>
              </li>
            </ul>
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <% if current_user %>
                <ul class="right">
                  <li>

                    <%= form_tag(users_path, method:"get") do %>
                      <%= text_field_tag(:query, nil, placeholder: "Search...")%>
                      <%= submit_tag("Search", :style => "display: none;", :id => "hiddensubmit") %></li>
                <% end %>
                </ul>
              <%end%>
            </section>
          </nav>



        <ul class="side-nav">
          <li class="side-link"><%= link_to image_tag(current_user.avatar_url, size:"70"), user_path(current_user) %></li>
          <li class="side-link"><%= link_to image_tag("edit_user.png", size:"45"), edit_user_path(current_user) %></li>
          <li class="side-link"><%= link_to image_tag("sign_out.png", size:"45"), destroy_user_session_path, method: :delete %></li>
        </ul>


        </div>
      </div>
 <%= yield %>
    <%else %>
      <div class="login-wrapper">
        <div class='container'>
          <div class='logo_holder'>
            <%= yield %>
          </div>
        </div>
      </div>
    <%end%>

    <script type="text/javascript">

  // Hide Spinner
  $(".spinner").hide();
  // Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Sort the li elements by id //
  $("#tinderslide > ul li").tsort({attr:"id"});

  /*

   * jTinder initialization

  */

  $("#tinderslide").jTinder({
    // dislike callback
      onDislike: function (item) {
        //
      },

    // like callback
      onLike: function (item) {
        var myId = $("#tinderslide > ul li").last().attr("id");
        $("#user_" + myId)[0].click();
      },

    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'

  });

  /**
    * Set button action to trigger jTinder like & dislike.
  */

  $('.actions .like, .actions .dislike').click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr('class'));
  });

  //Hover Effect//
  var ready;
  ready = function() {


    $(".nav-btn").hover(function(){
        $(this).addClass("active2");
        },function(){
        $(this).removeClass("active2");
    });



  };

  $(document).ready(ready);
  $(document).on('page:load', ready);

</script>
  </body>
</html>


